{
 :mvn/repos {"psiegman" {:url "https://raw.githubusercontent.com/psiegman/mvn-repo/master/releases/"}}
 :paths   ["src" "resources"]
 :deps    {org.clojure/clojure      {:mvn/version "1.11.1"} ; Adjust to the desired Clojure version
           dk.ative/docjure         {:mvn/version "1.14.0"} ; Library for Excel file handling
           org.clojure/data.csv     {:mvn/version "1.1.0"}

           org.clojure/data.zip     {:mvn/version "1.0.0"}
           org.apache.poi/poi-ooxml {:mvn/version "5.2.3"}

           ; emebddings
           com.taoensso/nippy {:mvn/version "3.4.2"}

           ; pdf text
           org.apache.pdfbox/pdfbox {:mvn/version "2.0.30"}

           ; pdf tables
           ;technology.tabula/tabula-extractor {:mvn/version "1.0.6"}}
           technology.tabula/tabula {:mvn/version "1.0.5"}

           nl.siegmann.epublib/epublib-core {:mvn/version "3.1"}
           org.jsoup/jsoup {:mvn/version "1.18.3"}

           clucy/clucy {:mvn/version "0.4.0"}

           ; for caching parsed documents
           org.clojure/java.jdbc {:mvn/version "0.7.12"}
           org.xerial/sqlite-jdbc {:mvn/version "3.45.1.0"}

           }

 :aliases {
           :test {:extra-paths ["test"]
                  :extra-deps  {
                                io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                                hellonico/pyjama {:local/root "../pyjama"}
                                }
                  :main-opts   ["-m" "cognitect.test-runner"]
                  :exec-fn     cognitect.test-runner.api/test}
           }
 }