{
 :mvn/repos {"psiegman" {:url "https://raw.githubusercontent.com/psiegman/mvn-repo/master/releases/"}}
 :paths     ["src" "resources"]
 :deps      {org.clojure/clojure                 {:mvn/version "1.12.1"} ; Adjust to the desired Clojure version
             ;dk.ative/docjure                 {:mvn/version "1.21.0"} ; Library for Excel file handling
             org.clojure/data.csv                {:mvn/version "1.1.0"}

             org.clojure/data.zip                {:mvn/version "1.1.0"}
             org.apache.poi/poi-ooxml            {:mvn/version "5.4.1"}
             org.apache.poi/poi-scratchpad       {:mvn/version "5.4.1"}
             org.apache.logging.log4j/log4j-core {:mvn/version "2.25.1"}

             ; emebddings
             com.taoensso/nippy                  {:mvn/version "3.6.0"}

             ; pdf text
             org.apache.pdfbox/pdfbox            {:mvn/version "3.0.5"}

             ; pdf tables
             ;technology.tabula/tabula-extractor {:mvn/version "1.0.6"}}
             technology.tabula/tabula            {:mvn/version "1.0.5"}

             nl.siegmann.epublib/epublib-core    {:mvn/version "3.1"}
             org.jsoup/jsoup                     {:mvn/version "1.21.1"}

             clucy/clucy                         {:mvn/version "0.4.0"}

             ; for caching parsed documents
             org.clojure/java.jdbc               {:mvn/version "0.7.12"}
             org.xerial/sqlite-jdbc              {:mvn/version "3.50.3.0"}

             }

 :aliases   {
             :ppt2md {:main-opts ["-m" "ppt2md.core"]}

             :cli
             {:main-opts  ["-m" "pyjama.io.cli"]
              :extra-deps {hellonico/pyjama {:local/root "../pyjama"}}
              }

             :test   {:extra-paths ["test"]
                      :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                                    hellonico/pyjama                     {:local/root "../pyjama"}}
                      :main-opts   ["-m" "cognitect.test-runner"]
                      :exec-fn     cognitect.test-runner.api/test}
             }
 }